@model CombinedResponseDto

@* <div class="ask-question">
    <form id="add-comment-form" asp-action="AddComment" method="post">
        <textarea type="Comment" id="LinkName" name="Comment" placeholder="Yorumunuzu yazın"></textarea>
        <button id="dynamic-button" class="icon" type="submit">
            <span class="add-text">Kaydet</span>
        </button>
    </form>
</div>
 *@
<div class="questions">
    @foreach (var comment in Model.Comments)
    {

        <div class="question">

            <div class="user-info">

                <img src="/Linkhtml/assets/user.jpg" alt="Kullanıcı Adı" class="user-photo" />
                <p class="username">@comment.FirstName @comment.SurName</p><br />
                <p class="username">@comment.UserName</p>
                <form action="/Profile/RemoveComment" method="post">
                    <input type="hidden" name="id" value="@comment.ProfileCommentID" />
                    <button type="submit">X</button>
                </form>
            </div>
            <p class="question-text">@comment.Comment</p>

            <div class="answers">
                @if (Model.CommentAnswers.ContainsKey(comment.ProfileCommentID))
                {
                    @foreach (var answer in Model.CommentAnswers[comment.ProfileCommentID])
                    {
                        <div class="answer">
                            <div class="user-info">
                                <img src="/Linkhtml/assets/user.jpg" alt="@answer.FirstName" class="user-photo" />
                                <p class="username">@answer.FirstName</p> <br />
                                <p class="username">@answer.UserName</p>
                            </div>
                            <p class="answer-text">@answer.AnswerText</p>
                        </div>
                    }
                }
                else
                {
                    <p>Henüz yanıt yok.</p>
                }
            </div>

            @if (!Model.CommentAnswers.ContainsKey(comment.ProfileCommentID) || Model.CommentAnswers[comment.ProfileCommentID].Count == 0)
            {
                <form id="add-answer-form" asp-action="AddAnswer" method="post">
                    <input type="hidden" name="ProfileCommentID" value="@comment.ProfileCommentID" />
                    <textarea type="text" name="AnswerText" placeholder="Yorumun Cevabını yaz" required></textarea>
                    <button id="dynamic-button" class="icon" type="submit">
                        <span class="add-text">Kaydet</span>
                    </button>
                </form>
            }
        </div>
    }
</div>
